body {
    display: flex;
    justify-content: center;
}
#main{
    border-style: solid;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}
#mV{
    border-style: solid;
    overflow-y: auto;
    height: 60vh;
    padding: 2%;
    text-align: left;
    
}

#textInput {
    overflow-x: auto;
    font-size: 100%;
    height: 5vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 1%;
    margin-right: 1%;
}

.individualMessage {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    border-style: solid;
    padding: 2%;
    margin-bottom: 1%;
}

button {
    height: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}